@font-face {
  font-family: 'junction';
  src: url('font/Junction-webfont.eot'); /* IE 5-8 */ 
  src: local('?'),            
        url('font/Junction-webfont.woff') format('woff'),    
        url('font/Junction-webfont.ttf') format('truetype'), 
        url('font/Junction-webfont.svg#font') format('svg'); /* iOS */
}
body{
	background: #ffffff; 
	font-family: 'junction';
}
h1, h2, h3 {
	color: #2f2e46;
	font-weight: lighter;
}
h1 {
	font-size: 27px;
	
}
h2 {
	font-size: 23px;
	font-family: 'junction';
}
h3 {
	font-family: Arial Verdana;
	font-size: 19px;
	
	margin:34px 0 0 0;
}
p {
	font-family: georgia;
}
a {
	color: #808080;
	font-style: italic;
	text-decoration: none;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.header_logo {
	background: url('images/Untitled-2.png');
	display: block;
	height: 91px;
	margin: 0 auto;
	width: 222px;	
}
.header_logo h1, .header_logo h2, nav h1 {
	left : -1000px;
	position : absolute;
}	
nav{
	border-top: 2px #cfcfcf solid;
	border-bottom: 2px #cfcfcf solid;
	background: none;
	height: 37px;
	margin: 16px auto;	
	padding-top: 0px;
}
nav ul {
	font-style: normal;
	line-height: 40px;	
	margin: 0 auto;
	padding: 0;
	width: 404px;	
}
nav ul li {
	display: inline-block;
	font-weight: normal;
	margin: 0px 12px;
	text-transform: uppercase;	
}
nav a  {
	font-style: normal;
}
nav a:hover {
	border-top: 4px #000000 solid;
    border-spacing: 40px;
    color: #000000;
    padding: 12px 0 1px 0;
}
.page_container {
	margin: 0 auto;
	overflow: hidden;
	width: 940px;
}
section{
	background: #ffffff;
	font-size: 50px;
	font-family: georgia;
	float: left;
	width: 668px;
}
section h1 {
	margin: 23px 0px 18px 0;
}
section p {
	color: #2f2e46;
	font-size: 18px;
	column-count: 2;
	-moz-column-count: 2; /* Firefox */
	text-align: justify;
	-webkit-column-count: 2; /* Safari and Chrome */	
	-webkit-column-gap: 55px;
}
.side_bar {
	float: left;
	height :210px;
	margin: 23px 0 0 53px;
	width: 210px;
}
.side_bar ul li {
	margin: 14px 0;
	position: relative;
}
.side_bar ul li a {
	font-size: 16px;
	color: #b2b1c1;
}
.side_bar ul li a:hover:before {
	content: "\00BB";
	display: block;
	left: -13px;
	position: absolute;
	top: -7px;
}
input {
	height: 27px;
	width: 151px;
	border: 1px solid #cfcfcf;
}
#submitButton {
	border: 1px solid #cfcfcf;
	background: #ffffff;
	color: #7d7e7f;
	height: 31px;
	width: 49px;
	padding: 0em;
}
footer li {
	margin-bottom: 18px;
	position: relative;
}
footer ul li a {
	font-size: 13px;
	color: #4c4c4c;
}
footer ul li a:hover:before {
	content: "\00BB";
	display: block;
	left: -13px;
	position: absolute;
	top: -3px;
}
footer{
	background: url('images/background.jpg');
	color: #f4f3fe;
	display: block;
	height: 180px; 
	overflow: hidden;
	padding: 25px 0;
	width: 100%;
}
footer ul {
	display: inline-block;
	float: left;
	margin: 0 23px;
	padding: 0;
	width: 200px;
}  
footer ul:first-child {
	margin: 0 40px 0 0;	
}
.footer_content {
	margin: 0 auto;
	width: 960px;
	padding-top: 30px;
}
#footer_logo {
	background: url('images/messina-about_03.jpg');
	float: left;
	height: 100px;
	margin: -10px 0 0 25px;
	width: 200px;
}







